/* background color of homepage */
body {
    background-color: #456990;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* all things navigation start */

/* container for logo and navbar */
.header-container {
    display: flex;
    align-items: center;
    margin-top: 0; 
}

/* KCalm logo icon */
.KCalm-logo-icon {
    height: 40px;
    vertical-align: left;
}

/* navigation bar */
nav {
    background-color: #050a30;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding-right: 25px;
}

/* color of the words */
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    align-items: right;
}

/* homepage icon */
.nav-icon {
    height: 35px;
    vertical-align: middle;
    align-items: center;
}
/* all things navigation end */

/* all things home page start */
body {
    background-color: #456990;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
    padding: 20px;
}

.left-box {
    background-color: #ffffff;
    width: 45%;
    height: 400px; 
    overflow-y: scroll; /* Makes it scrollable */
    padding: 20px;
}

.right-box {
    width: 45%;
    background-color: #ffffff;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

form input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #456990;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #355f73;
}

p {
    text-align: center;
}

a {
    color: #456990;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* all things homepage end */

/* all things local places start */
.local-places-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-left: 25px;
}

.place {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.place-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
/* all things local places end */