/* background color of homepage */
body {
    background-color: #456990;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* navigation bar */
nav {
    background-color: #E2FDFF; 
    width: 90%; 
    max-width: 1800px; 
    margin: 0 auto; /* Centers the navbar */
    padding: 20px; /* Adds padding inside */
    border-radius: 5px; /* Rounds corners */
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; /* Spaces out items evenly */
    height: 45px;
}

/* color of the words */
nav a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
}

/* homepage icon */
.nav-icon {
    height: 35px;
    vertical-align: middle;
    align-items: center;
}

/* KCalm logo icon */
.KCalm-logo-icon {
    height: 200%;
    vertical-align: left;
}
